NEXT_PUBLIC_API_URL=https://api.occupie.com.au
NEXT_PUBLIC_WS_ADDRESS=api.occupie.com.au
NEXT_PUBLIC_DOMAIN_API_KEY=your_domain_api_key_here
NEXT_PUBLIC_FRONT_END_URL=https://app.occupie.com.au
NEXT_PUBLIC_PROPERTY_FETCHER_LAMBDA_URL=your_lambda_url_here
NEXT_PUBLIC_INTERCOM_APP_ID=your_intercom_app_id_here
