@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

#__next {
  height: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
}


* {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  shape-rendering:geometricPrecision;
}


.ant-card {
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.04);
}

.ant-btn-link {
  font-weight: bold;
  padding-left: 0;
}

.upload-list-inline .ant-upload-list-item {
  float: left;
  width: auto;
  margin-inline-end: 6px;
}

.ant-upload-rtl.upload-list-inline .ant-upload-list-item {
  float: right;
}

.ant-dropdown-menu-title-content {
  font-family: Figtree;
}

/* Ant Overrides */

.ant-tabs-top > .ant-tabs-nav,
.ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-top > div > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav {
  margin: 0 0 0 0;
}

.ant-tabs-card.ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
  padding: 16px 16px 16px;
}

.ant-segmented-item-selected {
  border-bottom: 2px solid #2E0CFF;
}


/* button.ant-btn.ant-btn-primary {
  color: #254000;
  font-weight: 600;
  box-shadow: none;
} */

/* .ant-modal-confirm-btns .ant-btn-primary {
  background-color: #254000 !important;
  color: white !important;
}

.ant-modal-confirm-btns .ant-btn-dangerous {
  background-color: #A8071A !important;
  color: white !important;
} */

/* button.ant-btn.ant-btn-ghost {
  color: #254000;
  font-weight: 700;
  box-shadow: none;
}

button.ant-btn.ant-btn-link {
  color: #254000;
  font-weight: 700;
  box-shadow: none;
  padding: 0;
} */

button.ant-btn.ant-btn-dangerous {
  color: #A8071A;
}

.ant-input-search-large .ant-input-search-button {
  box-shadow: none;
}

.ant-segmented-item {
  padding: 16px;
}

.ant-segmented-item-label {
  font-weight: 600;
}

.ant-segmented .ant-segmented-item:is(.ant-segmented-item-selected):checked {
  color: #2E0CFF !important;
}

.ant-pagination-item-active {
  font-weight: 700;
  font-size: 14px;
  color: #2E0CFF;
  background: #2E0CFF !important;
  border-color: #2E0CFF !important;
}

.ant-steps-navigation .ant-steps-item::before {
  background-color: #2E0CFF;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background: #2E0CFF;
  border-color: #2E0CFF;
  color: #2E0CFF;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon .ant-steps-icon {
  color: #2E0CFF;
  font-weight: 500;
  font-size: 16px;
}

.ant-form-vertical .ant-form-item-label {
  color: #2E0CFF;
  font-weight: 700;
  font-size: 16px;
}

.ant-upload-list {
  padding-top: 16px;
}

.ant-tag span {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.ant-breadcrumb-link {
  text-decoration: none;
  color: #2E0CFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
